<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/Fork-Awesome/css/fork-awesome.min.css">
<link rel="stylesheet" href="/assets/css/Fork-Awesome/css/v5-compat.css">

<!-- Apply specific styles at elements containing a specific text -->
<script type="text/javascript" >
    window.onload = function () {
        getElementsByContains = function(str,elmtTagName="*",node=document){
            var elms = document.evaluate( "//"+elmtTagName+"[contains(., '" +str+ "')]" ,node, null, XPathResult.UNORDERED_NODE_SNAPSHOT_TYPE, null ),
                nodeSet = [];
            for ( var i=0 ; i < elms.snapshotLength; i++ ){
                nodeSet.push(elms.snapshotItem(i));
            }
            return nodeSet;
        }
        getElementsByContains('Donate','a')[0].style.color ='green';
}
</script>

<meta name="flattr:id" content="ol0vo0">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
